@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    height: 200vh;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #0A1D35, #FFFFFF);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.container-contact {
    margin: 0 50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
}
.logo img {
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-right: 100px;
}

.menu li a {
    font-size: 20px;
    font-weight: 700;
    color: #0A1D35;
    text-decoration: none;
    transition: .3s;
}

.menu li a:hover {
    color: #DA3C3C;
}

.menu li button {
    padding: 10px 30px;
    border: none;
    background: #DA3C3C;
    box-shadow: 0 0 10px #DA3C3C;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    transition: 0.3s ease;
}

.menu li button:hover {
    background: #0A1D35;
    color: #FFFFFF;
    box-shadow: 0 0 10px #0A1D35;
}

.banner {
    margin-top: 100px;
}

.banner img{
    width: 100%;
    height: 500px;
    filter: brightness(50%);
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

.title h1 {
    font-size: 40px;
}

.title p {
    font-size: 25px;
    font-weight: 600;
}

.title p span {
    color: #DA3C3C;
}

.rooms {
    margin-top: 50px;
}

.container-rooms {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.rooms-list {
    flex: 70%;
    height: auto;
    background: #FFFFFF;
    padding: 10px;
}

.rooms-sidebar {
    flex: 30%;
    max-height: 500px;
    background: #0A1D35;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
}

.rooms-item {
    display: flex;
    padding: 10px;
    gap: 30px;
    border-radius: 20px;
    border: 1px solid #ECECEC;
    margin-bottom: 20px;
    position: relative;
    transition: 0.4s;
}

.rooms-item:hover {
    transform: translateY(-10px);
    background: #F0F6FF;
    border: 1px solid #BAE0FD;
    box-shadow: 0 0 10px #BAE0FD;
}

.rooms-item img {
    width: 200px;
    border-radius: 20px;
}

.rooms-item .room-info h2 {
    color: #0A1D35;
}

.rooms-item .room-info button {
    color: #FFFFFF;
    background: #DA3C3C;
    box-shadow: 0 0 5px #DA3C3C;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: 0.4s;
}

.rooms-item .room-info p,.price {
    margin-top: 5px
}

.rooms-item .room-info .price {
    font-size: 20px;
    font-weight: 600;
}

.rooms-item .room-info .price span {
    color: #DA3C3C;
    font-size: 25px;
} 

.rooms-item .room-info button:hover {
    background: #0A1D35;
    box-shadow: 0 0 10px #0A1D35;
}

.rooms-sidebar h3 {
    font-size: 25px;
    color: #DA3C3C;
}

.rooms-sidebar h4 {
    font-size: 20px;
    margin-top: 10px;
}

.rooms-sidebar .check-fil {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-input {
    display: flex;
    gap: 10px;
}

.box-input input {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.box-input label {
    font-size: 20px;
    font-family: sans-serif;
}

.rooms-sidebar button {
    padding: 10px 40px;
    color: #0A1D35;
    background: #BAE0FD;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    margin-left: 120px;
    transition: 0.4s;
    cursor: pointer;
}

.rooms-sidebar button:hover {
    box-shadow: 0 0 20px #BAE0FD;
}

.footer {
    margin-top: 30px;
    width: 100%;
    background: #0A1D35;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-foot {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #FFFFFF;
}