@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    height: 200vh;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #0A1D35, #FFFFFF);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.container-contact {
    margin: 0 50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
}
.logo img {
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-right: 100px;
}

.menu li a {
    font-size: 20px;
    font-weight: 700;
    color: #0A1D35;
    text-decoration: none;
    transition: .3s;
}

.menu li a:hover {
    color: #DA3C3C;
}

.menu li button {
    padding: 10px 30px;
    border: none;
    background: #DA3C3C;
    box-shadow: 0 0 10px #DA3C3C;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    transition: 0.3s ease;
}

.menu li button:hover {
    background: #0A1D35;
    color: #FFFFFF;
    box-shadow: 0 0 10px #0A1D35;
}

.banner {
    margin-top: 100px;
}

.banner img{
    width: 100%;
    height: 500px;
    filter: brightness(50%);
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

.title h1 {
    font-size: 40px;
}

.title p {
    font-size: 25px;
    font-weight: 600;
}

.title p span {
    color: #DA3C3C;
}

.intro {
    padding: 0 50px;
    margin-top: 50px;
}
.intro .text{
    display: flex;
    gap: 30px;
}

.text h1 {
    font-size: 50px;
    width: 800px;
}
.text p {
    width: 1200px;
    font-size: 20px;
    font-weight: 500;
}

.intro-img {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.intro-img img {
    width: 300px;
    border-radius: 30px;
}

.services {
    margin-top: 100px;
    width: 100%;
    height: 80vh;
    background: url(/images/intro.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.services-item {
    margin: 0 50px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: #000;  
}

.services-item .item {
    width: 400px;
    height: 200px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 20px;
    border-radius: 50px;
    opacity: 0.9;
}

.services-item .item i {
    color: #DA3C3C;
}