<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giới thiệu</title>
    <link rel="stylesheet" href="/Client/index.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <a href="#"><img src="/images/logo.svg" alt="" /></a>
      </div>

      <div class="navlist">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/about">Giới thiệu</a></li>
        <li><a href="/rooms">Phòng</a></li>
        <li><a href="#">Dịch vụ</a></li>
        <li><a href="/contact">Liên hệ</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Tài khoản</a>
          <div class="dropdown-content">
            <a href="/login" class="log">Đăng nhập</a>
            <a href="/register" class="log">Đăng kí</a>
          </div>
        </li>
      </div>

      <div class="nav-book">
        <a href="/search">ĐẶT PHÒNG NGAY</a>
      </div>
    </header>

    <!-- banner -->
    <section class="banner">
      <img src="/images/banner2.jpg" alt="" />
    </section>

    <div class="space"></div>

    <!-- About -->
    <section class="about">
      <div class="about-img">
        <img src="/images/intro.jpg" alt="" />
      </div>
      <div class="about-text">
        <h2>GIỚI THIỆU ĐÀ NẴNG CHILL</h2>
        <p>
          Bắt đầu hoạt động từ tháng 5 năm 2004, Mona Media Resort, Mũi Né, Phan
          Thiết tạo nên sự khác biệt trên nhiều phương diện. Đây là khu nghỉ
          dưỡng duy nhất tại Việt Nam cung cấp chương trình “Tất cả trong một”,
          Tiệc phô mai và rượu đãi khách miễn phí, Các bài hát vui tươi, sôi
          động do hai ban nhạc của khu nghỉ dưỡng trình bày và chương trình Dạo
          bộ Làng Chài và Chợ Mũi Né hàng ngày. Khác với các khu nghỉ dưỡng khác
          dọc theo bờ biển Phan Thiết, Mona Media Resort đủ điều kiện để giúp
          bạn tận hưởng những phút giây thư giãn thoải mái, lấy lại năng lượng
          sau khoảng thời gian làm việc vất vả. <br />

          Mona Media Resort là một bức tranh hoàn mỹ của nghệ thuật kiến trúc và
          xây dựng. Ngay cạnh bãi biển là hồ bơi rộng lớn, được bao bọc bởi hàng
          dừa xanh mượt. Xung quanh các ngôi nhà, biệt thự là khu vườn nhiệt đới
          với nhiều loài thảo mộc đặc trưng của khu vực. Văn hóa cổ Champa cũng
          được thể hiện trong hầu hết các kiến trúc xây dựng nơi đây, từ các
          ngôi nhà cho đến khu vực tiền sảnh. Khách check in sẽ được thưởng thức
          âm nhạc Champa độc đáo do chính ban nhạc Champa địa phương trình
          diễn.<br />

          Bạn sẽ dễ dàng cảm nhận được sự hiếu khách, nụ cười than thiện cũng
          như cung cách phục vụ chuyên nghiệp của các nhân viên nơi đây.
        </p>
      </div>
    </section>

    <section class="about">
      <div class="about-text">
        <p>
          Bắt đầu hoạt động từ tháng 5 năm 2004, Mona Media Resort, Mũi Né, Phan
          Thiết tạo nên sự khác biệt trên nhiều phương diện. Đây là khu nghỉ
          dưỡng duy nhất tại Việt Nam cung cấp chương trình “Tất cả trong một”,
          Tiệc phô mai và rượu đãi khách miễn phí, Các bài hát vui tươi, sôi
          động do hai ban nhạc của khu nghỉ dưỡng trình bày và chương trình Dạo
          bộ Làng Chài và Chợ Mũi Né hàng ngày. Khác với các khu nghỉ dưỡng khác
          dọc theo bờ biển Phan Thiết, Mona Media Resort đủ điều kiện để giúp
          bạn tận hưởng những phút giây thư giãn thoải mái, lấy lại năng lượng
          sau khoảng thời gian làm việc vất vả. <br />

          Mona Media Resort là một bức tranh hoàn mỹ của nghệ thuật kiến trúc và
          xây dựng. Ngay cạnh bãi biển là hồ bơi rộng lớn, được bao bọc bởi hàng
          dừa xanh mượt. Xung quanh các ngôi nhà, biệt thự là khu vườn nhiệt đới
          với nhiều loài thảo mộc đặc trưng của khu vực. Văn hóa cổ Champa cũng
          được thể hiện trong hầu hết các kiến trúc xây dựng nơi đây, từ các
          ngôi nhà cho đến khu vực tiền sảnh. Khách check in sẽ được thưởng thức
          âm nhạc Champa độc đáo do chính ban nhạc Champa địa phương trình
          diễn.<br />

          Bạn sẽ dễ dàng cảm nhận được sự hiếu khách, nụ cười than thiện cũng
          như cung cách phục vụ chuyên nghiệp của các nhân viên nơi đây.
        </p>
      </div>
      <div class="about-img">
        <img src="/images/Deluxe-Room-2.jpg" alt="" />
      </div>
    </section>

    <section class="about">
      <div class="about-img">
        <img
          src="/images/Doan-ket-cung-cap-nhieu-loai-xe-phuc-vu-nhu-cau-dua-don-san-bay.jpg"
          alt=""
        />
      </div>
      <div class="about-text">
        <p>
          Bắt đầu hoạt động từ tháng 5 năm 2004, Mona Media Resort, Mũi Né, Phan
          Thiết tạo nên sự khác biệt trên nhiều phương diện. Đây là khu nghỉ
          dưỡng duy nhất tại Việt Nam cung cấp chương trình “Tất cả trong một”,
          Tiệc phô mai và rượu đãi khách miễn phí, Các bài hát vui tươi, sôi
          động do hai ban nhạc của khu nghỉ dưỡng trình bày và chương trình Dạo
          bộ Làng Chài và Chợ Mũi Né hàng ngày. Khác với các khu nghỉ dưỡng khác
          dọc theo bờ biển Phan Thiết, Mona Media Resort đủ điều kiện để giúp
          bạn tận hưởng những phút giây thư giãn thoải mái, lấy lại năng lượng
          sau khoảng thời gian làm việc vất vả. <br />

          Mona Media Resort là một bức tranh hoàn mỹ của nghệ thuật kiến trúc và
          xây dựng. Ngay cạnh bãi biển là hồ bơi rộng lớn, được bao bọc bởi hàng
          dừa xanh mượt. Xung quanh các ngôi nhà, biệt thự là khu vườn nhiệt đới
          với nhiều loài thảo mộc đặc trưng của khu vực. Văn hóa cổ Champa cũng
          được thể hiện trong hầu hết các kiến trúc xây dựng nơi đây, từ các
          ngôi nhà cho đến khu vực tiền sảnh. Khách check in sẽ được thưởng thức
          âm nhạc Champa độc đáo do chính ban nhạc Champa địa phương trình
          diễn.<br />

          Bạn sẽ dễ dàng cảm nhận được sự hiếu khách, nụ cười than thiện cũng
          như cung cách phục vụ chuyên nghiệp của các nhân viên nơi đây.
        </p>
      </div>
    </section>

    <footer>
      <div class="foot-logo">
        <img src="/images/logo.svg" alt="" />
      </div>
      <div class="foot-contact">
        <h1>Liên hệ</h1>
        <p><i class="bx bx-location-plus"></i> Liên Chiểu, Đà Nẵng</p>
        <p><i class="bx bxs-phone"></i> 0367723124</p>
        <p><i class="bx bxs-envelope"></i> nhom3duan2@fpt.edu.vn</p>
      </div>
      <div class="foot-link">
        <h1>Đường dẫn</h1>
        <p>Trang chủ</p>
        <p>Về chúng tôi</p>
        <p>Liên hệ</p>
      </div>
      <div class="foot-send">
        <h1>Đừng bỏ lỡ bất kì bản cập nhật nào</h1>
        <input type="email" placeholder="Your Email" />
        <button>Đăng kí ngay</button>
      </div>
    </footer>
  </body>
</html>
