<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liên hệ</title>
    <link rel="stylesheet" href="/Client/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <a href="#"><img src="/images/logo.svg" alt="" /></a>
      </div>

      <div class="navlist">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/about">Giới thiệu</a></li>
        <li><a href="/rooms">Phòng</a></li>
        <li><a href="#">Dịch vụ</a></li>
        <li><a href="/contact">Liên hệ</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Tài khoản</a>
          <div class="dropdown-content">
            <a href="/login" class="log">Đăng nhập</a>
            <a href="/register" class="log">Đăng kí</a>
          </div>
        </li>
      </div>

      <div class="nav-book">
        <a href="/search">ĐẶT PHÒNG NGAY</a>
      </div>
    </header>

    <!-- banner -->
    <section class="banner">
      <img
        src="/images/contact.jpg"
        alt=""
        style="height: 600px; width: 100%"
      />
    </section>

    <!-- contact -->
    <section class="contact">
      <div class="info-contact">
        <div class="card-contact">
          <p><i class="bx bx-location-plus"></i> Địa điểm</p>
          <p>Liên Chiểu, Đà Nẵng</p>
        </div>
        <div class="card-contact">
          <p><i class="bx bxs-phone"></i>Số điện thoại</p>
          <p>0987654321</p>
        </div>
        <div class="card-contact">
          <p><i class="bx bxs-envelope"></i>Mail</p>
          <p>nhom3duan2@fpt.edu.vn</p>
        </div>
      </div>
      <div class="contact-actions">
        <div class="send-mail">
          <h2>Bạn có bất kì thắc mắc nào? Xin vui lòng liên hệ chúng tôi!</h2>
          <p>
            Liên hệ với chúng tôi để chúng tôi có thể lắng nghe và hỗ trợ bạn.
            Chúng tôi đánh giá cao mọi ý kiến phản hồi, câu hỏi và yêu cầu của
            bạn.
          </p>
          <form action="">
            <input type="text" placeholder="Họ và tên" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Chủ đề" />
            <textarea name="" id="" rows="4" placeholder="Tin nhắn"></textarea>
            <button>Gửi</button>
          </form>
        </div>
        <div class="maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8042797597836!2d108.1670309976905!3d16.07564307047883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219b509a30cfb%3A0xb93a05e26b3b28ff!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1709830119694!5m2!1svi!2s"
            width="600"
            height="470"
            style="border: 0"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <footer>
      <div class="foot-logo">
        <img src="/images/logo.svg" alt="" />
      </div>
      <div class="foot-contact">
        <h1>Liên hệ</h1>
        <p><i class="bx bx-location-plus"></i> Liên Chiểu, Đà Nẵng</p>
        <p><i class="bx bxs-phone"></i> 0367723124</p>
        <p><i class="bx bxs-envelope"></i> nhom3duan2@fpt.edu.vn</p>
      </div>
      <div class="foot-link">
        <h1>Đường dẫn</h1>
        <p>Trang chủ</p>
        <p>Về chúng tôi</p>
        <p>Liên hệ</p>
      </div>
      <div class="foot-send">
        <h1>Đừng bỏ lỡ bất kì bản cập nhật nào</h1>
        <input type="email" placeholder="Your Email" />
        <button>Đăng kí ngay</button>
      </div>
    </footer>
  </body>
</html>
