<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/Client/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <a href="#"><img src="/images/logo.svg" alt="" /></a>
      </div>

      <div class="navlist">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/about">Giới thiệu</a></li>
        <li><a href="/rooms">Phòng</a></li>
        <li><a href="#">Dịch vụ</a></li>
        <li><a href="/contact">Liên hệ</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Tài khoản</a>
          <div class="dropdown-content">
            <a href="/login" class="log">Đăng nhập</a>
            <a href="/register" class="log">Đăng kí</a>
          </div>
        </li>
      </div>

      <div class="nav-book">
        <a href="/search">ĐẶT PHÒNG NGAY</a>
      </div>
    </header>

    <!-- banner -->
    <section class="banner">
      <img src="/images/banner1.jpg" alt="" />
    </section>

    <!-- welcome -->
    <section class="welcome">
      <div class="welcome-img">
        <img src="/images/intro.jpg" alt="" />
      </div>
      <div class="welcome-text">
        <h2>Chào mừng đến với Booking Hotel</h2>
        <p>
          Booking Hotel với các phòng biệt thự và bungalow được trang bị đầy đủ
          tiện nghi, không gian bên trong được bài trí theo phong cách sang
          trọng pha trộn những nét truyền thống của người Việt và những nét hiện
          đại của phương Tây. Chúng tôi có đội ngũ nhân viên được đào tạo bài
          bản, chuyên nghiệp và tác phong chuyên nghiệp, phục vụ tận tình.
          Booking Hotel tự tin mang đến cho bạn sự thăng hoa về cảm xúc, những
          trải nghiệm tốt nhất, tuyệt vời nhất trong kỳ nghỉ dưỡng của bạn. Hãy
          đến với chúng tôi, chúng tôi đảm bảo rằng bạn sẽ không hối tiếc.
        </p>
      </div>
    </section>

    <!-- best-rooms -->
    <section class="best-rooms">
      <div class="title-best-rooms">
        <p>KHÁM PHÁ</p>
        <h1>Phòng nổi bật</h1>
      </div>

      <div class="best-rooms-wrapper">
        <div class="best-rooms-item">
          <div class="best-rooms-item-img">
            <img src="/images/best1.jpg" alt="" />
            <div class="best-rooms-item-text">
              <p class="item-name">Phòng Triple</p>
              <p class="item-more">Chỉ từ 1.500.000 VNĐ/Đêm</p>
              <div class="item-star">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div> 
        </div>
        <div class="best-rooms-item">
          <div class="best-rooms-item-img">
            <img src="/images/best2.jpg" alt="" />
            <div class="best-rooms-item-text">
              <p class="item-name">Phòng Senior</p>
              <p class="item-more">Chỉ từ 1.500.000 VNĐ/Đêm</p>
              <div class="item-star">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>  
        </div>
        <div class="best-rooms-item">
          <div class="best-rooms-item-img">
            <img src="/images/best3.jpg" alt="" />
            <div class="best-rooms-item-text">
              <p class="item-name">Phòng Connecting</p>
              <p class="item-more">Chỉ từ 1.500.000 VNĐ/Đêm</p>
              <div class="item-star">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="link-all-rooms">
        <a href="/rooms">Xem tất cả các phòng</a>
      </div>
    </section>

    <!-- services -->
    <section class="services">
      <div class="title-services">
        <h1>Các tiện nghi của chúng tôi</h1>
      </div>
      <div class="container-list-services">
        <div class="services-item">
          <img src="/images/icon-1.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
        <div class="services-item">
          <img src="/images/icon-2.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
        <div class="services-item">
          <img src="/images/icon-3.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
        <div class="services-item">
          <img src="/images/icon-4.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
        <div class="services-item">
          <img src="/images/icon-5.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
        <div class="services-item">
          <img src="/images/icon-6.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
        <div class="services-item">
          <img src="/images/icon-7.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
        <div class="services-item">
          <img src="/images/icon-8.svg" alt="" />
          <h3>Resturant</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            minus minima iusto quos doloremque aliquid
          </p>
        </div>
      </div>
    </section>

    <footer>
      <div class="foot-logo">
        <img src="/images/logo.svg" alt="" />
      </div>
      <div class="foot-contact">
        <h1>Liên hệ</h1>
        <p><i class="bx bx-location-plus"></i> Liên Chiểu, Đà Nẵng</p>
        <p><i class="bx bxs-phone"></i> 0367723124</p>
        <p><i class="bx bxs-envelope"></i> nhom3duan2@fpt.edu.vn</p>
      </div>
      <div class="foot-link">
        <h1>Đường dẫn</h1>
        <p>Trang chủ</p>
        <p>Về chúng tôi</p>
        <p>Liên hệ</p>
      </div>
      <div class="foot-send">
        <h1>Đừng bỏ lỡ bất kì bản cập nhật nào</h1>
        <input type="email" placeholder="Your Email" />
        <button>Đăng kí ngay</button>
      </div>
    </footer>
  </body>
</html>
