<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/Client/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <a href="#"><img src="/images/logo.svg" alt="" /></a>
      </div>

      <div class="navlist">
        <li><a href="./index.html">Trang chủ</a></li>
        <li><a href="./about.html">Giới thiệu</a></li>
        <li><a href="./rooms.html">Phòng</a></li>
        <li><a href="#">Dịch vụ</a></li>
        <li><a href="./contact.html">Liên hệ</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Tài khoản</a>
          <div class="dropdown-content">
            <a href="./login.html" class="log">Đăng nhập</a>
            <a href="./register.html" class="log">Đăng kí</a>
          </div>
        </li>
      </div>

      <div class="nav-book">
        <a href="#">ĐẶT PHÒNG NGAY</a>
      </div>
    </header>

    <section class="login-container">
      <div class="login-form">
        <h1>Đăng nhập</h1>
        <form action="">
          <input type="text" placeholder="Tên đăng nhập" />
          <input type="password" placeholder="Mật khẩu" />
          <button>Đăng nhập</button>
          <p>
            Bạn chưa có tài khoản ? <a href="./register.html">Tạo tài khoản</a>
          </p>
        </form>
        <div class="or">Hoặc đăng nhập bằng :</div>
        <div class="login-social">
          <div class="facebook-login">
            <i class="bx bxl-facebook" style="color: #4c6c99"></i> Facebook
          </div>
          <div class="google-login">
            <i class="bx bxl-google" style="color: red"></i> Google
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="foot-logo">
        <img src="/images/logo.svg" alt="" />
      </div>
      <div class="foot-contact">
        <h1>Liên hệ</h1>
        <p><i class="bx bx-location-plus"></i> Liên Chiểu, Đà Nẵng</p>
        <p><i class="bx bxs-phone"></i> 0367723124</p>
        <p><i class="bx bxs-envelope"></i> nhom3duan2@fpt.edu.vn</p>
      </div>
      <div class="foot-link">
        <h1>Đường dẫn</h1>
        <p>Trang chủ</p>
        <p>Về chúng tôi</p>
        <p>Liên hệ</p>
      </div>
      <div class="foot-send">
        <h1>Đừng bỏ lỡ bất kì bản cập nhật nào</h1>
        <input type="email" placeholder="Your Email" />
        <button>Đăng kí ngay</button>
      </div>
    </footer>
  </body>
</html>
