<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phòng</title>
    <link rel="stylesheet" href="/Client/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <a href="#"><img src="/images/logo.svg" alt="" /></a>
      </div>

      <div class="navlist">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/about">Giới thiệu</a></li>
        <li><a href="/rooms">Phòng</a></li>
        <li><a href="#">Dịch vụ</a></li>
        <li><a href="/contact">Liên hệ</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Tài khoản</a>
          <div class="dropdown-content">
            <a href="/login" class="log">Đăng nhập</a>
            <a href="/register" class="log">Đăng kí</a>
          </div>
        </li>
      </div>

      <div class="nav-book">
        <a href="/seacrh">ĐẶT PHÒNG NGAY</a>
      </div>
    </header>

    <!-- banner -->
    <section class="banner">
      <img src="/images/banner3.jpg" alt="" />
    </section>

    <!-- title -->
    <div class="tit-rooms">
      <h1>Tất cả các hạng phòng</h1>
    </div>

    <!-- list-rooms -->
    <section class="rooms-container">
      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>

      <div class="rooms-item">
        <div class="rooms-img">
          <img src="/images/rooms1.jpg" alt="" />
          <div class="detail-item">
            <p>Diện tích phòng: 25 m<sup>2</sup></p>
            <p>Số giường : 1 giường</p>
            <p>Phòng giành cho :2 người</p>
            <p>
              Đặc trưng: Tối đa hai trẻ em dưới 6 tuổi được miễn phí lưu trú và
              ăn sáng (điều kiện áp dụng: lưu trú cùng phòng với bố mẹ, không kê
              giường phụ).
            </p>
          </div>
        </div>
        <div class="rooms-info">
          <p class="rooms-name">Single room</p>
          <p class="rooms-price">$000000000/Đêm</p>
          <div class="rooms-star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="foot-logo">
        <img src="/images/logo.svg" alt="" />
      </div>
      <div class="foot-contact">
        <h1>Liên hệ</h1>
        <p><i class="bx bx-location-plus"></i> Liên Chiểu, Đà Nẵng</p>
        <p><i class="bx bxs-phone"></i> 0367723124</p>
        <p><i class="bx bxs-envelope"></i> nhom3duan2@fpt.edu.vn</p>
      </div>
      <div class="foot-link">
        <h1>Đường dẫn</h1>
        <p>Trang chủ</p>
        <p>Về chúng tôi</p>
        <p>Liên hệ</p>
      </div>
      <div class="foot-send">
        <h1>Đừng bỏ lỡ bất kì bản cập nhật nào</h1>
        <input type="email" placeholder="Your Email" />
        <button>Đăng kí ngay</button>
      </div>
    </footer>
  </body>
</html>
