<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt phòng ngay</title>
    <link rel="stylesheet" href="/Client/index.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <a href="#"><img src="/images/logo.svg" alt="" /></a>
      </div>

      <div class="navlist">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/about">Giới thiệu</a></li>
        <li><a href="/rooms">Phòng</a></li>
        <li><a href="#">Dịch vụ</a></li>
        <li><a href="/contact">Liên hệ</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Tài khoản</a>
          <div class="dropdown-content">
            <a href="/login" class="log">Đăng nhập</a>
            <a href="/register" class="log">Đăng kí</a>
          </div>
        </li>
      </div>

      <div class="nav-book">
        <a href="/search">ĐẶT PHÒNG NGAY</a>
      </div>
    </header>

    <!-- banner -->
    <section class="banner">
      <img src="/images/banner1.jpg" alt="" />
    </section>

    <p class="search-title">Tìm và đặt phòng ngay</p>
    <!-- Search -->
    <section class="search">
      <form action="">
        <input type="date">
        <input type="date">
        <select name="" id="">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
        </select>
        <button>Tìm phòng</button>
      </form>
    </section>

    <!-- List rooms search -->
    <section class="result-rooms">
      <h1>Các phòng hiện có của khách sạn</h1>
      <div class="result-container">
        <div class="result-item">
          <img src="/images/rooms1.jpg" alt="">
          <p class="result-name">Single rooms</p>
          <p class="result-price">1000000VND</p>
          <button>Đặt ngay</button>
        </div>
        <div class="result-item">
          <img src="/images/rooms1.jpg" alt="">
          <p class="result-name">Single rooms</p>
          <p class="result-price">1000000VND</p>
          <button>Đặt ngay</button>
        </div>
        <div class="result-item">
          <img src="/images/rooms1.jpg" alt="">
          <p class="result-name">Single rooms</p>
          <p class="result-price">1000000VND</p>
          <button>Đặt ngay</button>
        </div>
      </div>
    </section>

    <footer>
      <div class="foot-logo">
        <img src="/images/logo.svg" alt="" />
      </div>
      <div class="foot-contact">
        <h1>Liên hệ</h1>
        <p><i class="bx bx-location-plus"></i> Liên Chiểu, Đà Nẵng</p>
        <p><i class="bx bxs-phone"></i> 0367723124</p>
        <p><i class="bx bxs-envelope"></i> nhom3duan2@fpt.edu.vn</p>
      </div>
      <div class="foot-link">
        <h1>Đường dẫn</h1>
        <p>Trang chủ</p>
        <p>Về chúng tôi</p>
        <p>Liên hệ</p>
      </div>
      <div class="foot-send">
        <h1>Đừng bỏ lỡ bất kì bản cập nhật nào</h1>
        <input type="email" placeholder="Your Email" />
        <button>Đăng kí ngay</button>
      </div>
    </footer>
  </body>
</html>
